.container-fluid{
    width: 1200px;
    margin: 0 auto;
    background-color: #EBECF2;
}

h4{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #363F45;
    line-height: 22px;
    font-weight: 500;
    display: inline-block;
}

h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    line-height: 36px;
    font-weight: 500;
}

*{
    box-sizing: border-box;
}

.container{
    margin: 0 24px;
}

.clear{
    clear: both;
}

/* --------------------- header --------------------- */

header{
    background-color: #384B59;
}

header figure{
    display: inline-block;
    margin: 9px 0px 10px 0px;
}

header figure img:nth-child(1){
    margin-right: 60px;
}

header figure img:nth-child(2){
    margin-top: 15px;
    vertical-align: top;
}

nav{
    float: right;
    margin-top: 10px;
}

li{
    float: left;
    vertical-align: middle;
}

header nav ul li:nth-child(2){
    margin: 0px 10px;
}

header nav ul li a{
    display: inline-block;
    padding: 11px;
}

header nav ul li a:hover{
    background-color: #E9E9E9;
}

header nav ul li img{
    vertical-align: middle;
}

header nav ul li:nth-child(1){
    position: relative;
}

header nav ul span{
    position: absolute;
    background-color: #FE5621;
    line-height: 17px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border-radius: 19px;
    display: inline-block;
    color: #FFFFFF;
    height: 19px;
    width: 19px;
    text-align: center;
    right: 12.3%;
}

/* --------------------- section 1 --------------------- */
.sec1{
    margin-top: 43px;
}

.rectangles{
    margin-top: 36px;
}

.right-image{
    float: right;
}

.rectangle1, .rectangle2, .rectangle3, .rectangle4{
    float: left;
    width: 23.43%;
}

.rectangle1{
    background-color: #FEC006;
}

.rectangle2{
    background-color: #E81D62;
}

.rectangle3{
    background-color: #8AC249;
}

.rectangle4{
    background-color: #2095F2;
}

.rectangle1, .rectangle2, .rectangle3{
    margin-right: 24px;
}

.rectangle1 img{
    padding: 34px 33px;
    background-color: rgba(0, 0, 0, 0.1);
}

.rectangle2 img{
    padding: 32px 22px 31px 23px;
    background-color: rgba(0, 0, 0, 0.1);
}

.rectangle3 img{
    padding: 34px 28px 33px;
    background-color: rgba(0, 0, 0, 0.1);
}

.rectangle4 img{
    padding: 32px 26px 31px;
    background-color: rgba(0, 0, 0, 0.1);
}

.content{
    display: inline-block;
    margin-left: 15px;
    margin-top: 11px;
    margin-bottom: 7px;
}

.rectangles .content h3{
    margin-top: 34px;
}

.content span{
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.rectangles img{
    float: right;
}

/* --------------------- section 2 --------------------- */
.sec2{
    margin-top: 55px;
}

.sec2 figure{
    vertical-align: middle;
}

.sec2 .right-image img:nth-child(2){
    margin-left: 27px;
}

.squares{
    margin-top: 21px;
    text-align: center;
}