.container-fluid{
    width: 1200px;
    margin: 0 auto;
    background-color: #EBECF2;
}

h4{
    font-family: 'Quicksand', sans-serif;
    font-size: 18px;
    color: #363F45;
    line-height: 22px;
    font-weight: 500;
    display: inline-block;
}

h3{
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    line-height: 36px;
    font-weight: 500;
}

*{
    box-sizing: border-box;
}

.container{
    margin: 0 24px;
}

.clear{
    clear: both;
}

/* --------------------- header --------------------- */

header{
    background-color: #384B59;
}

header figure{
    display: inline-block;
    margin: 9px 0px 10px 0px;
}

header figure img:nth-child(1){
    margin-right: 60px;
}

header figure img:nth-child(2){
    margin-top: 15px;
}

header nav ul li a img{
    vertical-align: middle;
}

nav{
    float: right;
    margin-top: 10px;
}

nav ul li{
    float: left;
}

header nav ul li a{
    display: inline-block;
    padding: 11px;
}

header nav ul li:nth-child(2) a{
    padding: 10px 11px 9px 11px;
}

header nav ul li a:hover{
    background-color: rgba(233, 233, 233, 0.1);
}

header nav ul li img{
    vertical-align: middle;
}

header nav ul li:nth-child(1){
    position: relative;
}

header nav ul span{
    position: absolute;
    background-color: #FE5621;
    line-height: 17px;
    font-size: 14px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    border-radius: 19px;
    display: inline-block;
    color: #FFFFFF;
    height: 19px;
    width: 19px;
    text-align: center;
    right: 5%;
}

/* --------------------- section 1 --------------------- */
.sec1{
    margin-top: 43px;
}

.rectangles{
    margin-top: 36px;
}

.right-image{
    float: right;
}

.rectangle1, .rectangle2, .rectangle3, .rectangle4{
    float: left;
    width: 23.43%;
}

.rectangle1{
    background-color: #FEC006;
}

.rectangle2{
    background-color: #E81D62;
}

.rectangle3{
    background-color: #8AC249;
}

.rectangle4{
    background-color: #2095F2;
}

.rectangle1, .rectangle2, .rectangle3{
    margin-right: 24px;
}

.rectangle1 img{
    padding: 34px 33px;
    background-color: rgba(0, 0, 0, 0.1);
}

.rectangle2 img{
    padding: 32px 22px 31px 23px;
    background-color: rgba(0, 0, 0, 0.1);
}

.rectangle3 img{
    padding: 34px 28px 33px;
    background-color: rgba(0, 0, 0, 0.1);
}

.rectangle4 img{
    padding: 32px 26px 31px;
    background-color: rgba(0, 0, 0, 0.1);
}

.content{
    display: inline-block;
    margin-left: 15px;
    margin-top: 11px;
    margin-bottom: 7px;
}

.rectangles .content h3{
    margin-top: 34px;
}

.content span{
    color: #FFFFFF;
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.rectangles img{
    float: right;
}

/* --------------------- section 2 --------------------- */
.sec2{
    margin-top: 55px;
}

.sec2 figure{
    vertical-align: middle;
}

.sec2 .right-image img:nth-child(2){
    margin-left: 27px;
}

.squares{
    margin-top: 21px;
    text-align: center;
}

.upper-square{
    text-align: center;
    margin-bottom: 1px;
    background-color: #FFFFFF;
    padding: 28px 79px 27px 80px;
}

.lower-square{
    background-color: #FFFFFF;
}

.square-one, .square-two, .square-three, .square-four{
    float: left;
    width: 23.43%;
}

.square-one, .square-two, .square-three{
    margin-right: 24px;
}

.inner-circle{
    height: 91px;
    width: 91px;
    border: 2px solid #FFFFFF;
    border-radius: 50%;
}

.inner-circle p:nth-child(1){
    font-family: 'Quicksand', sans-serif;
    font-size: 30px;
    line-height: 30px;
    font-weight: normal;
    color: #363F45;
    margin-top: 14px;
}

.inner-circle p:nth-child(2){
    font-family: 'Quicksand', sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: normal;
    color: #363F45;
}

.outer-circle{
    width: 111px;
    height: 111px;
}

.upper-square .outer-circle{
    border: 10px solid #8AC249;
    border-radius: 50%;
    background-color: #F6EFD2;
}

.lower-square{
    position: relative;
}

.numbers{
    position: absolute;
    right: 0%;
    top: 0%;
    font-size: 34px;
    line-height: 41px;
    color: #E1E2E9;
    font-family: 'Quicksand', sans-serif;
    font-weight: bold;
    margin: 9px 22px 7px 0px;
}

.text{
    font-family: 'Lato', sans-serif;;
    color: #363F45;
    font-size: 16px;
    line-height: 19px;
    display: inline-block;
    margin: 20px 0px;
}

/* --------------------- Progress Bar --------------------- */
.progress-bar{
    margin-top: 31px;
}

.progress-bar .container{
    background-color: #FFFFFF;
    border-radius: 5px;
    padding: 2px 0px 2px 2px;
}

.progress-bar .container p{
    width: 299px;
    height: 5px;
    background-color: #D4C69B;
    border-radius: 5px;
}

/* --------------------- section 3 --------------------- */
.sec3{
    margin-top: 69px;
}

.left-box, .right-box{
    width: 50%;
}

.left-box-heading{
    padding: 18px 30px 17px;
    margin-bottom: 1px;
    background-color: #FFFFFF;
}

.left-box-heading h6{
    display: inline-block;
    font-family: 'Quicksand', sans-serif;
    color: #363F45;
    font-size: 16px;
    font-weight: bold;
    line-height: 19px;
}

.left-box-heading img{
    float: right;
}

.checkbox{
    height: 17px;
    width: 17px;
    background-color: #FFFFFF;
    border: 1px solid #CED4D9;
    display: inline-block;
}

.date{
    float: right;
}

.date p:nth-child(1){
    margin-right: 30px;
    display: inline-block;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #919599;
}

.left-box ul li:nth-child(2){
    background-color: #E1F5E3;
}

.left-box ul li span{
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    font-family: 'Lato', sans-serif;
    color: #919599;
}

.left-box ul li:nth-child(2) span{
    color: #4BAE4F;
}

.left-box ul li:nth-child(2) p{
    display: inline-block;
}

.left-box ul li p:nth-child(3){
    float: right;
}

.left-box ul li{
    padding: 18 px 30px 17px;
    background-color: #FFFFFF;
    margin-bottom: 1px;

}